@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.blue_btn {
    @apply rounded-full border border-blue-950 bg-blue-950 py-1.5 px-5 text-white transition-all hover:bg-blue-800 text-center text-sm  flex items-center justify-center;
  }

  .outline_btn {
    @apply rounded-full border border-blue-950 bg-blue-950 py-1.5 px-5 text-black transition-all hover:bg-blue-950 hover:text-white text-center text-sm flex items-center justify-center;
  }